@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

th, td {
  padding: 12px;
  border: 1px solid #000;
}

html {
  font-size: 1rem;
}

body {
  min-height: 100vh;
  display: grid;
  flex-direction: column;
  background-color: #efefef;
  position: relative;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  margin: 0;
  padding: 0;
}


.offscreen {
  position: absolute;
  left: -9999px;
}

.instruction {
  background-color: black;
  color: white;
  font-size: 1rem;
}

.error {
  color: red;
}

.App {
  display: flex;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}
